.eventform {
  padding: 10px;  
  display: flex;
    flex-direction: row;
    align-items: center;
  max-width: 700px;
}

.label-title {
  padding-right: 17px;
}

.label-datetime {
  padding-right: 17px;
}

.label-description {
  padding-right: 17px;
}

.newEventForm button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.4rem 0.5rem;
  }
  
.newEventForm button:hover {
    background: white;
    color: darksalmon;
    cursor: pointer;
  }